<ul class="breadcrumb">
  <li>
    <%= link_to raw("<i class='icon-home'></i> Home"), root_path%> <span class="divider">/</span>
  </li>
  <li><%= link_to "用户列表", users_path%> <span class="divider">/</span></li> 
  <li class="active">用户资料</li>
</ul>

<div class="row">
	<div class="span1">
		<span class="badge badge-info"><%= @user.role2s %></span>
	</div>
	<div class="span5">
		<ul class="unstyled">
			<li>
				<b>用户名:</b>
				<span><%= @user.username %></span>
			</li>
			<li>
				<b>邮箱:</b>
				<span><%= @user.email %></span>
			</li>
			<li>
				<b>加入时间:</b>
				<span><%= @user.created_at.to_formatted_s(:db) %></span>
			</li>
		</ul>
	</div>
</div>
<div class="form-actions" style="border-bottom-right-radius:5px;border-bottom-left-radius:5px;">
  <%= link_to 'Back', users_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn' %>
  <%= link_to 'Delete', user_path(@user), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
