<%= simple_form_for [:area, :shelf, resource], :html => { :class => 'form-horizontal' } do |f| %>
<fieldset>
  <legend><%= "#{btn}层" %></legend>
  <%= f.input :content, as: 'string', label: "容量" %>
  <div class="form-actions">
    <%= f.submit "提交", :class => 'btn btn-primary' %>
    <%= link_to '取消', area_shelves_path, :class => 'btn' %>
  </div>
</fieldset>
<% end %>
