<ul class="breadcrumb">
  <li>
    <%= link_to raw("<i class='icon-home'></i> 首页"), root_path%> <span class="divider">/</span>
  </li>
  <li>
    <%= link_to "客户列表", suppliers_path%> <span class="divider">/</span>
  </li>
  <li class="active">客户详情</li>
</ul>

<p>
  <b>公司名</b><br>
  <%= resource.name %>
</p>
<p>
  <b>联系人</b><br>
  <%= resource.interface %>
</p>

<p>
  <b>邮箱</b><br>
  <%= resource.email %>
</p>

<p>
  <b>电话</b><br>
  <%= resource.mobile %>
</p>

<p>
  <b>地址</b><br>
  <%= resource.address %>
</p>

<div class="form-actions">
  <%= link_to '返回', collection_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_resource_path(resource), :class => 'btn' %>
  <%= link_to '删除', resource_path(resource), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
