<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Warehouse", root_path, class: "brand" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span6 offset3">
    <%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :class => 'form-horizontal', :method => :post }) do |f| %>
  	<%= f.error_notification %>
    <fieldset>
      <legend>忘记密码?</legend>
    	<%= f.input :email, :required => true %>

    	<div class="form-actions" style="margin-bottom:0">
    		<%= f.button :submit, "给我发送重置密码邮件", :class => 'btn btn-primary' %>
    		<%= link_to '取消', root_path, :class => 'btn' %>
    	</div>

    </fieldset>
    <% end %>
    </div>


  </div>

  <hr>

  	<footer>
 	   <p>Changhong & Hu Zhengping 2012 &copy; All Rights Reserved.</p>
  </footer>

</div>
